[submodule "archway"]
	path = archway
	url = https://github.com/archway-network/archway/
[submodule "gochain-local-decentralize"]
	path = gochain-local-decentralize
	url = https://github.com/icon-community/gochain-local-decentralize
[submodule "goloop"]
	path = goloop
	url = https://github.com/icon-project/goloop.git
[submodule "icon-bridge"]
	path = icon-bridge
	url = https://github.com/icon-project/icon-bridge.git
[submodule "gochain-btp"]
	path = gochain-btp
	url = https://github.com/izyak/gochain-btp.git
