[submodule "archway"]
	path = archway
	url = https://github.com/archway-network/archway/
[submodule "gochain-local"]
	path = gochain-local
	url = https://github.com/icon-project/gochain-local
[submodule "gochain-local-decentralize"]
	path = gochain-local-decentralize
	url = https://github.com/icon-community/gochain-local-decentralize
[submodule "goloop"]
	path = goloop
	url = git@github.com:icon-project/goloop.git
[submodule "bsc-docker"]
	path = bsc-docker
	url = https://github.com/bnb-chain/bsc-docker.git
[submodule "icon-bridge"]
	path = icon-bridge
	url = git@github.com:icon-project/icon-bridge.git
